
<% content_for :ext_stylesheets do %>
  <%= stylesheet_link_tag 'profile' %>
<% end %>


<div class="block" id="block-text">
  <div class="content sized-content resume_profile">
    <div class="inner">
      <h2 class="title">My Profile <small>Your life, zipped in 8 fields</small></h2>
      

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	
	<%= devise_error_messages! %>

      <div><%= f.label :mail_missions, 'Être tenu informé par mail des nouvelles mission ?' %>
	<%= f.check_box :mail_missions %></div>

      <div><%= f.label :mail_comments, 'Être tenu informé par mail des nouveaux commentaires liés aux miens ?' %>
	<%= f.check_box :mail_comments %></div>

	<div><%= f.label :email %>
	  <%= f.email_field :email, :placeholder => 'mymail@skynet.com' %></div>

	<div><%= f.label :f_name, 'Prénom' %>
	  <%= f.text_field :f_name %></div>

	<div><%= f.label :l_name, 'Nom' %>
	  <%= f.text_field :l_name %></div>

	<div><%= f.label :grade, 'Votre promotion' %>
	  <%= f.text_field :grade, :placeholder => '2014' %></div>


	<div><%= f.label :password %> 
	  <%= f.password_field :password %></div>
	<i>(leave blank if you don't want to change it)</i>

	<div><%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %></div>

	<div><%= f.label :current_password %> 
	  <%= f.password_field :current_password %></div>
	<i>(we need your current password to confirm your changes)</i>
	

	<br/>
	<br/>
	<div><%= f.submit "Mettre à jour" %></div>
	<br/>
      


      <% end %>


    </div>
  </div>
</div>
