
<% content_for :page_title do %>
  Mission detail
<% end %>

<% content_for :sidebar do %>
  
<% end %>


<%# Override %>
<%
  @no_sidebar = true
  @no_footer = true
%>

<style>
  #main {
  width : 100%;
  float : none;
  }
</style>
<%# End Override %>





<% 
   #
   # This helper fill all yields
   #
   fill_page  
   %>

<% content_for :ext_javascript do %>
  <script>
    $().ready(function() {
    $('.apply-action').click(function(e) {
    e.preventDefault();
    $.ajax({
    url : '<%= mission_apply_path(@mission) %>',
    type : 'POST',
    beforeSend : function() {
    $('.apply-btn').html('<%= image_tag 'spinner_20.gif' %> Processing...');
    },
    success : function(data) {
    $('.apply-btn').html(data.info);
    }	    
    });
    });


    $('#mission_image').load(function() {
    var comment = $('.right-detail');
    var mission = $('.left-detail');



    if (comment.height() < mission.height()) {
			   comment.height(mission.height());
			   }
    });

    });
  </script>
<% end %>

<div class="mission-descr">

  <div class="block left-detail" id="block-text">
    <div class="content">
      <div class="inner">
	<h2 class="title"><%= @mission.title %></h2>
	<% if @mission.image? %>
	  <center>
	    <%= image_tag @mission.image.url(:big), :id => 'mission_image' %>
	  </center>
	<% end %>


	Reward : <b><%= @mission.reward_description %></b>
	<br/>
	Début : <b><%= @mission.begin_date.strftime('%d/%m/%Y %H:%M') %></b>
	<br/>
	Fin : <b><%= @mission.end_date.strftime('%d/%m/%Y %H:%M') %></b>
	<br/>
	<br/>

	<% if @mission.is_in_process? %>
	  <div class="other-user-doin-mission">
	    <h2 class="title">Composition du groupe de mission</h2>
	    <ul>
	      <% @mission.user_doing_missions.each do |user| %>	  
		<li><%= user %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>

	<div id="mission_description">
	  <h2 class="title">Détail de mission</h2>
	  <%= markdown @mission.description %>
	</div>


	<%= yield :button_style %>

	<br/>
      </div>
    </div>
  </div>


  <div class="block right-detail" id="block-text">
    <div id="comments-anchor"></div>
    <div class="content sized-content">


      <div class="inner">

	<h2 class="title">Postez un Commentaire</h2>
	
	<%= form_for :comment, :url => mission_submit_comment_path do |f| %>
	  
	  <%= f.hidden_field :mission, :value => @mission.id %>
	  
          <div class="columns wat-cf">
            <div class="column left">
              <div class="group">
		<%= f.text_area :content, :rows => 10, :cols => 80, :class => 'text_area', :placeholder => 'Comment...' %>
              </div>
            </div>
          </div>
	  
	    <%= f.submit "Poster", :class => 'button post-btn' %>
	  
	<% end %>


	<h2 class="title" style="margin-bottom : 5px">
	  Commentaires 
	  <small>Vous recevrez des notifs si vous avez postulé</small>
	</h2>

	<ul class="comment">
	  
	  <% @mission.comments.each do |c| %>
	    <li>
	      <div class="left">
		
	      </div>
              <div>
		<span id="author"><%= c.user.username %></span>
		<span id="date">le <%= c.created_at.strftime('%d/%m/%Y à %H:%M') %></span>
		<div id="content-comment">
		  <%= c.content %>
		</div>
	      </div>
	    </li>
	  <% end %>
	</ul>

	<br/>
	<div id="post-comments-anchor"></div>

      </div>
    </div>
  </div>
</div>
