
<% 
   defined?(subtitle) ?
    subtitle : subtitle = ''
%>

<div class="block" id="block-text">
  <div class="content sized-content">
    <div class="inner">

      <h2 class="title"><%= title %> <small><%= subtitle ? subtitle : ''%></small></h2>
      
      <ul class="list">
	
	<% if missions.count == 0 %>
	  <center id="no-mission">	    
	    Vous n'avez pas encore de missions en cours, 
	    <%= link_to "Postulez !", mission_available_path, :class => 'apply-btn'  %>
	  </center>
	<% end %>
	<% missions.each do |m| %>
          <li>
            <div class="left left-resume-mission">
	      
	      <% if m.image? %>
		<%= image_tag m.image.url(:small), :class => 'avatar' %>
	      <% end %>
	      <div id="reward">
		<span id="amount">
		  <%= m.reward_description %>
		</span>
	      </div>
            </div>
            <div class="item">
	      <a href="<%= mission_detail_path(m) %>">
		<h4>
		  <%= m.title %>
		</h4>
	      </a>
	      <br/>
	      Début : <b><%= m.begin_date.strftime('%d/%m/%Y %H:%M') %></b>
	      <br/>
	      Fin : <b><%= m.end_date.strftime('%d/%m/%Y %H:%M') %></b>
	      <br/>
	      Commentaires : <b><%= m.comments.count %></b>
	      <p>
		<%= m.resume %>
	      </p>
            </div>

          </li>
	<% end %>
      </ul>
      
      <div class="actions-bar wat-cf">
	<%= will_paginate missions %>
      </div>
      
    </div>
  </div>
</div>
