
<div class="block  rank">
  <h3>Leaderboard</h3>
  <div class="content">
    <p>
      <!-- En ajax ? -->
      <h4>Utilisateur les plus actifs</h4>
      <ol>
	<% @u = User.limit(5).order('points DESC') %>
	<% @u.each do |u| %>
	  <li><a href="<%= user_public_profile_path(u) %>"><%= u %></a> <span style="float : right"><%= u.points %></span></li>
	<% end %>
      </ol>

      <h4>Les nouveaux</h4>
      <ol>
      <% User.limit(5).order('created_at DESC').each do |u| %>
	<li><%= u %></li>
      <% end %>
      </ol>
    </p>
  </div>

</div>

<div class="block activity-board rank">
  <h3>Les dernières activitées au lab</h3>
  <div class="content">
    <p>

      <ul>
	<% @u = EntrMissionUser.limit(5).order('updated_at DESC').includes([:mission, :user]) %>
	<% @u.each do |u| %>
	  <li>
	    <%= u.user %> <span style="float : right"><%= u.contextualize_state %></span>
	    <div id="title-activity"><%= link_to u.mission, mission_detail_path(u.mission) %></div>
	  </li>
	<% end %>
      </ul>

    </p>
  </div>

</div>

<div class="block rank">
  <h3>Web Lab Mission</h3>
  <div class="content">
    <p>	
      Ici vous avez accès aux missions proposées par le Web Lab. 
    </p>
  </div>


  <h3>Comment ca marche ?</h3>
  <div class="content">
    <p>
      <ol>
	<li>Inscrivez-vous</li>
	<li>Postulez aux missions <%= link_to 'ici', mission_available_path %></li>
	<li>Vous recevrez un mail quand la mission sera validée</li>
	<li>Réalisez la mission</li>
	<li>Et empochez le reward !</li>
      </ol>
    </p>
  </div>

  
</div>

