
<% content_for :page_title do %>
  Identification
<% end %>

<div id="box">
  <div class="block" id="block-login">
    <h2>Identifiez-vous</h2>
    <div class="content login">
      <br/>
      <%= form_for(resource, :as => resource_name, :class => 'form login',  :url => session_path(resource_name)) do |f| %>
        <div class="group wat-cf">
          <div class="left">
	    <%= f.label :email, :class => "label right" %>
          </div>
          <div class="right">
	    <%= f.email_field :email, :class => 'text_field' %>
          </div>
        </div>
        <div class="group wat-cf">
          <div class="left">
            <label class="label right">Password</label>
          </div>
          <div class="right">
	    <%= f.password_field :password %>
          </div>
        </div>
	<% if devise_mapping.rememberable? -%>
	  <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	<% end -%>
	
        <div class="group navform wat-cf" style=" margin : 10px auto; width : 100px; ">
	  <%= f.submit "Entrer" %>
        </div>
	<% if Rails.env == 'demo' %>
	  <script>
	    $().ready(function() {
	    $('#demo-enter').click(function() {
	    $('#user_email').val('weblab@epitech.eu');
	    $('#user_password').val('123456');
	    $('#user_new').submit();
	    });
	    });
	  </script>
	  <br/>
	  <center>
	    <input type="button" id="demo-enter" class="cta-register" value="Login with the demo account !"/>
	  </center>
	<% end %>
      <% end %>

    </div>
  </div>
</div>


<center>
<%= link_to "S'enregistrer", new_registration_path(resource_name), :class => 'cta-register' %>
</center>


<%= render :partial => "devise/shared/links" %>


<% 
   @actions = EntrMissionUser
      .order('updated_at DESC')
      .includes(:mission)

   Mission.all.each do |m|
   @actions << m
   end

   User.all.each do |m|
     @actions << m
   end
   
   Comment.all.each do |m|
     @actions << m
   end
%>
<div class="block profile" id="block-text">
  <div class="content sized-content private_profile">
    <div class="inner">
<%= render :partial => 'shared/home_lab_activity' %>
    </div>
  </div>
</div>
