<% content_for :page_title do %>
  My Dashboard
<% end %>

<% content_for :sidebar do %>
  
<% end %>

<% content_for :ext_javascripts do %>
  <%= javascript_include_tag 'highchart' %>
<% end %>

<% content_for :ext_stylesheets do %>
  <%= stylesheet_link_tag 'profile' %>
<% end %>

<%= render :partial => 'shared/menu_my_dashboard' %>



<div class="block profile" id="block-text">
  <div class="content sized-content private_profile">
    <div class="inner">
      <h2 class="title">Crédits Fluctuation <small>Stats about your money flow</small></h2>

	<script>
	  $(function() {
	  new Highcharts.Chart({
	  chart : {
	  renderTo : 'historic_chart'
	  },
	  title :  {
	  text : 'Crédit'
	  },
	  xAxis : {
	  type : "datetime"
	  },
	  yAxis : {
	  title : {
	  text : 'Euros'
	  }
	  },
	  series : [{
	  name : "Epices",
	  pointInterval : <%= 1.day * 1000 %>,
	  pointStart : <%= 3.weeks.ago.to_i * 1000 %>,
	  data : <%= (3.weeks.ago.to_date..Date.today).map { |date| WalletOperation.epices_total_on date
}.inspect  %>
	  },
	  {
	  name : "Points",
	  pointInterval : <%= 1.day * 1000 %>,
	  pointStart : <%= 3.weeks.ago.to_i * 1000 %>,
	  data : <%= (3.weeks.ago.to_date..Date.today).map { |date| WalletOperation.points_total_on date
}.inspect  %>
	  },
	  {
	  name : "Euros",
	  pointInterval : <%= 1.day * 1000 %>,
	  pointStart : <%= 3.weeks.ago.to_i * 1000 %>,
	  data : <%= (3.weeks.ago.to_date..Date.today).map { |date| WalletOperation.euros_total_on date
}.inspect  %>
	  }]
	  
	  
	  
	  });
	  });
	</script>

	<div id="historic_chart" style="width : 100%;height : 300px;"></div>      

	<h2 class="title">Actions taken <small>Have you applied for missions ? Check your action level</small></h2>

	<script>
	  $(function() {
	  new Highcharts.Chart({
	  chart : {
	  renderTo : 'action_chart'
	  },
	  title :  {
	  text : 'Crédit'
	  },
	  xAxis : {
	  type : "datetime"
	  },
	  yAxis : {
	  title : {
	  text : 'Euros'
	  }
	  },
	  series : [{
	  name : "Epices",
	  pointInterval : <%= 1.day * 1000 %>,
	  pointStart : <%= 3.weeks.ago.to_i * 1000 %>,
	  data : <%= (3.weeks.ago.to_date..Date.today).map { |date| EntrMissionUser.euros_total_on date
}.inspect  %>
	  }
	  ]
	  
	  
	  
	  });
	  });
	</script>


	<div id="action_chart" style="width : 100%;height : 300px;"></div>
	<!-- <div id="action_chart" style="width : 100%;height : 300px;"></div>       -->
	
	<h2 class="title">Account historic <small>Bank account like, efficient</small></h2>
      
	<table id="historic_resume" style="width : 100%;" border="1">
	  <tr>
	    <th>Type</th>
	    <th>Date</th>
	    <th>Euro</th>
	    <th>Epices</th>
	    <th>Points</th>
	  </tr>
	  <% @historic.each do |h| %>
	    <tr>
	      <td class="color-<%= h.historic_type %>"><%= h.contextualize_type %></td>
	      <td><%= h.created_at.strftime("%D à %R") %></td>
	      <td><%= h.euros %></td>
	      <td><%= h.epices %></td>
	      <td><%= h.points %></td>
	    </tr>
	  <% end %>
	</table>
	

    </div>
  </div>
</div>
