<% content_for :page_title do %>
  My Dashboard
<% end %>

<% content_for :sidebar do %>
  
<% end %>

<% content_for :ext_javascript do %>
  <%= javascript_include_tag 'highchart' %>
<% end %>

<% content_for :ext_stylesheets do %>
  <%= stylesheet_link_tag 'profile' %>
<% end %>

<%= render :partial => 'shared/menu_my_dashboard' %>

<%= render :partial => 'shared/rewards' %>

<div class="block" id="block-text">
  <div class="content sized-content">
    <div class="inner">
      <h2 class="title">My Profile</h2>
      
      <ul class="list">
	<table>
	  <tr>
	    <td>First name</td>
	    <td><%= current_user.f_name %></td>
	  </tr>
	  <tr>
	    <td>Last name</td>
	    <td><%= current_user.l_name %></td>
	  </tr>
	  <tr>
	    <td>Mail</td>
	    <td><%= current_user.email %></td>
	  </tr>
	  <tr>
	    <td>Epitech Grade</td>
	    <td><%= current_user.grade %></td>
	  </tr>
	  <tr>
	    <td>Numéro mobile</td>
	    <td><%= current_user.phone_number %></td>
	  </tr>

	  <tr>
	    <td>Missions réalisées</td>
	    <td><%= current_user.missions_done %></td>
	  </tr>



	</table>
      </ul>
    </div>
  </div>
</div>
