<!DOCTYPE html>
<html>
  <head>
    <title>EWL Missions | <%= yield :page_title %></title>

    <link href='http://fonts.googleapis.com/css?family=Syncopate|Play' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :application %>
    <%= yield :ext_stylesheets %>
    <%= javascript_include_tag :application %>
    <%= yield :ext_javascript %>

    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div id="header">
	
	<h1>	  
	  <% if Rails.env == 'demo' %>
	    EWL <span style="color : red">DEMONSTRATION</span>
	  <% else %> 
	    <%= link_to 'EWL Missions' , root_path, :id => 'go-to-home', :title => 'Back to home' %>
	  <% end %>| 
	  <%= yield :page_title %>
	</h1> 
	
	<div id="main-navigation">
	  <%= render_navigation :level => 2 %>
	</div>
	
	<div id="user-navigation">
	  <%= render_navigation :level => 1 %>
	</div>
      </div>  
  
      <div id="wrapper" class="wat-cf">

	<div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <p><%= message %></p>
            </div>
          <% end -%>
	</div>

	<div id="main">
          <%= yield %>

	  
	  <% if !@no_footer.presence %>
            <div id="footer">
	      <%= render :partial => 'shared/lab_links' %>
	      <div class="copyright">
		<p>Copyright &copy; <%= Time.now.year %> Web Lab</p>
	      </div>
            </div>
	  <% end %>

	</div>

	
	<div id="sidebar">
	  <%= yield :sidebar %>
	  <% if !@no_sidebar.presence %>
	    <%= render :partial => 'shared/sidebar' %>
	  <% end %>
	</div>
      </div>    
    </div>
  </body>
</html>
